body {
  background-color: #999;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

#notification {
  width: 400px;
  height: 30px;
  background-color: #000000;
  border-radius: 5px;
  color: #ffffff;
  padding: 8px;
  box-sizing: border-box;
}



#attack {
  display: inline-block;
  height: 32px;
  border-radius: 20px;
  color: #fff;
  padding: 8px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: .5px;
}

#attack p {
  display: inline;
  padding-left: 8px;
  padding-right: 8px;
}

.fire {background-color: #f94c00;}
.tint {background-color: #3498db;}
.bolt {background-color: #f1c40f;}
.leaf {background-color: #34bd77;}

#characters {
  background-color: #71d0ff;
  width: 450px;
  height: 130px;
}

#enemies {
  background-color: tomato;
  width: 450px;
  height: 130px;
}


.character {
  position: relative;
  width: 100px;
  height: 110px;
  background-color: #f1f1f1;
  float: left;
  margin: 5px; 
  border: 1px solid #272727;
  box-sizing: border-box;
}

.character h3{
  height: 20px;
  padding-top: 3px;
  box-sizing: border-box;
  background-color: #272727;
  text-align: center;
  color: #ffffff;
}





#your-character {
  width: 115px;
  height: 130px; 
  background-color: yellow;
}

#defender {
  width: 115px;
  height: 130px; 
  background-color: pink;
}



.life-bar {
  width: 100%;
  height: 8px;
  border-top: 1px solid #272727;
  background-color: #272727;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
}

.life-bar div {
  height: 100%;
/*  color: #fff;*/
/*  text-align: right;*/
  /*line-height: 22px;*/ /* same as #progressBar height if we want text middle aligned */
/*  width: 0;*/
/*  background-color: lime;*/
}

.container {
  background-color: blue;
  height: 60px;
  position: relative;
}

.charimg {
  background-color: salmon;
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.charimg img{
  max-height: 55px;
  background-color: yellow;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


