body {
  background-color: #999;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

#notification {
  width: 400px;
  height: 30px;
  background-color: #000000;
  border-radius: 5px;
  color: #ffffff;
  padding: 8px;
  box-sizing: border-box;
}



#attack {
  display: inline-block;
  height: 32px;
  border-radius: 20px;
  color: #fff;
  padding: 8px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: .5px;
}

#attack p {
  display: inline;
  padding-left: 8px;
  padding-right: 8px;
}

.fire {background-color: #f94c00;}
.tint {background-color: #3498db;}
.bolt {background-color: #f1c40f;}
.leaf {background-color: #34bd77;}

#characters {
  background-color: #71d0ff;
  width: 450px;
  height: 115px;
}

#enemies {
  background-color: tomato;
  width: 450px;
  height: 115px;
}


.character {
  width: 100px;
  height: 100px;
  background-color: #f1f1f1;
  float: left;
  margin: 5px; 
}

#your-character {
  width: 450px;
  height: 115px; 
  background-color: yellow;
}

#defender {
  width: 450px;
  height: 115px; 
  background-color: pink;
}



.life-bar {
  width: 100px;
  height: 20px;
  border: 1px solid #111;
  background-color: #292929;
  box-sizing: border-box;
}

.life-bar div {
  height: 100%;
  color: #fff;
  text-align: right;
  line-height: 22px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: lime;
}
